.piece {
  position: absolute;
  width: var(--cell-size);
  height: var(--cell-size);

  top: calc(var(--y) * var(--cell-size));
  left: calc(var(--x) * var(--cell-size));
  transition: top 500ms ease-in-out, left 500ms ease-in-out;
}

.piece__drag {
  position: absolute;
  width: var(--cell-size);
  height: var(--cell-size);

  top: calc(var(--y) * var(--cell-size));
  left: calc(var(--x) * var(--cell-size));
  transition: top 0ms ease-in-out, left 0ms ease-in-out;
}
.piece__fast-travel {
  transition: top 1ms ease-in-out, left 1ms ease-in-out;
}

.pieces__settings {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 20px;
}
