body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.cursor-pointer {
  cursor: pointer;
}

#game-board,
#choosing-figure {
  --size: clamp(320px, 75vmin, 600px);
  --cell-size: calc(var(--size) / 8);
  display: grid;
  grid-template-columns: repeat(8, var(--cell-size));
  grid-template-rows: repeat(8, var(--cell-size));
  position: relative;
  width: var(--size);
  height: var(--size);
}

#modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

#modal.flex {
  display: flex;
}

#modal > div {
  background-color: #fff;
  border-radius: 10px;
  padding: 0 15px;
}

#modal h1 {
  font-size: 1.5em;
  text-align: center;
}
#modal h2 {
  font-size: 1em;
  text-align: center;
}

#victory button {
  display: block;
  margin: 10px auto;
  border: 0;
  font-weight: 700;
  color: white;
  padding: 0.8em 1em calc(0.8em + 3px);
  border-radius: 3px;
  background: rgb(64, 199, 129);
  box-shadow: 0 -3px rgb(53 167 110) inset;
  cursor: pointer;
  transition: 0.2s;
}

#victory button:hover {
  background: rgb(53, 167, 110);
}

#victory button:active {
  background: rgb(33, 147, 90);
  box-shadow: 0 3px rgb(33, 147, 90) inset;
}

#choosing-figure {
  width: calc(var(--size) / 2);
  height: calc(var(--size) / 8);
  grid-template-columns: repeat(4, var(--cell-size));
  grid-template-rows: var(--cell-size);
  margin: auto;
  margin-bottom: 15px;
}

#choosing-figure .figure:hover {
  background-color: #ffc0cb;
  cursor: pointer;
}

.cell {
  background-color: bisque;
  color: #333;
  font-size: 1em;
  position: relative;
}

.cell .digit,
.cell .character {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  padding: 2px;
  box-sizing: border-box;
}

.cell .character {
  justify-content: flex-start;
  align-items: flex-end;
}

.cell:nth-child(-n + 8):nth-child(even),
.cell:nth-child(n + 9):nth-child(-n + 16):nth-child(odd),
.cell:nth-child(n + 17):nth-child(-n + 24):nth-child(even),
.cell:nth-child(n + 25):nth-child(-n + 32):nth-child(odd),
.cell:nth-child(n + 33):nth-child(-n + 40):nth-child(even),
.cell:nth-child(n + 41):nth-child(-n + 48):nth-child(odd),
.cell:nth-child(n + 49):nth-child(-n + 56):nth-child(even),
.cell:nth-child(n + 57):nth-child(-n + 64):nth-child(odd) {
  background-color: #333;
  color: bisque;
}

.cell.active::after,
.cell::before {
  content: "";
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 3;
}

.cell.active::after {
  content: "·";
  display: flex;
  color: green;
  font-size: 5em;
  z-index: 4;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.figure {
  position: absolute;
  background-image: var(--url);
  background-size: contain;
  background-position: center;
  width: var(--cell-size);
  height: var(--cell-size);

  top: calc(var(--y) * (var(--cell-size)));
  left: calc(var(--x) * (var(--cell-size)));
  transition: 500ms ease-in-out;
}

.figure.active {
  filter: drop-shadow(0 0 5px rgb(129, 6, 6));
  z-index: 2;
}
